<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Timeflux metadata</title>
  <link rel="stylesheet" href="/css/bulma.min.css">
  <script type="text/javascript">
    function addField() {
        let new_meta_input = document.getElementById("new_meta_input");
        let new_name = new_meta_input.value;
        if (new_name) {
            let form = document.getElementById("field_parent");
            let new_entry = document.getElementById("js-template").cloneNode(true);
            new_entry.classList.remove('is-hidden');
            let new_label = new_entry.getElementsByTagName('label')[0];
            new_label.innerHTML = new_name;
            let new_input = new_entry.getElementsByTagName('input')[0];
            new_input.setAttribute('name', new_name);
            new_input.setAttribute('placeholder', new_name + ' value');
            form.appendChild(new_entry);
            new_meta_input.value = '';
        }
    }

    function countdownClose(secs) {
      if (secs <= 0) {
          close();
      }
      document.getElementById("seconds").textContent = secs;
      setTimeout(countdownClose, 1000, secs - 1);
    }

    function submitForm() {
        // got this from https://stackoverflow.com/a/48892941/227103
        let form = document.getElementById("form");
        let formData = new FormData(form);
        let json_data = Array.from(formData.entries()).reduce((memo, pair) => ({
          ...memo,
          [pair[0]]: pair[1],
        }), {});

        console.log('Submitting...', json_data);
        var xhr = new XMLHttpRequest();
        xhr.onload = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                  console.log('submit success!');
                  // remove error notification
                  document.getElementById('notification-error').classList.add('is-hidden');
                  var ok = document.getElementById('notification-success');
                  ok.classList.remove('is-hidden');
                  setTimeout(countdownClose, 1000, 10 - 1);
                } else {
                  console.log('submit error!');
                  // remove success notification
                  document.getElementById('notification-success').classList.add('is-hidden');
                  var err = document.getElementById('notification-error');
                  err.textContent = (xhr.responseText || "An error occurred.");
                  err.classList.remove('is-hidden');
                }
            }

        };
        xhr.onerror = function () {
          console.log('Error', xhr.statusText);
        };
        xhr.open('POST', 'submit');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.send(JSON.stringify(json_data));
    }
  </script>
</head>
<body>
<section class="section">

  <!-- template for new fields -->
  <div id="js-template" class="field is-horizontal is-hidden">
    <div class="field-label is-normal">
      <label class="label"></label>
    </div>
    <div class="field-body">
      <div class="control is-expanded">
        <input class="input" type="text" placeholder="text" required data-lpignore=true>
      </div>
    </div>
  </div>

  <form id="form" method="post" action="javascript:submitForm();">
    <div class="container">

      <h1 class="title is-centered">
        Metadata form
      </h1>

      <div id="field_parent">
        {% for field in fields.values() %}
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label" for="{{ field['name'] }}">{{ field['name'] }}</label>
          </div>
          <div class="field-body">
            <div class="control is-expanded">
              <input class="input" type="{{ field['type'] }}" name="{{ field['name'] }}" placeholder="{{ field['placeholder'] }}" required data-lpignore=true>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <br>
      <div class="field is-horizontal">
        <div class="field-label">
          <!-- Left empty for spacing -->
        </div>
        <div class="field-body">
          <div class="control">
            <button class="button is-link">Submit</button>
          </div>
        </div>
      </div>

      <hr>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label" for="new_meta_field">New fields</label>
        </div>
        <div class="field-body">
          <div class="control is-expanded">
            <input id="new_meta_input" class="input" type="text" placeholder="new meta name" data-lpignore=true>
          </div>
          <div class="control">
            <a class="button is-info" onclick="addField();">
              Add new...
            </a>
          </div>
        </div>
      </div>

      <div id="notification-success" class="notification has-text-centered is-success is-hidden">
        Metadata sent successfully. <br>
        Closing window in <span id="seconds">10</span> seconds...
      </div>

      <div id="notification-error" class="notification has-text-centered is-danger is-hidden">
      </div>
    </div>
  </form>
</section>

</body>
</html>
